a {
    color: inherit;
    border-bottom: 1px dotted currentColor;
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
}
/* headings */
h1,
.h1 {
    text-align: center;
    color: black;
    font-size: 2.5em;
    font-weight: 200;
    margin: 0 0 0.525em;
}

h2,
.h2 {
    font-size: 2.25em;
    font-weight: 200;
    margin: 0 0 0.5833333333em;
}

h3,
.h3 {
    font-size: 1.6666875em;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0 0 0.7874901564em;
    text-transform: uppercase;
}

h4,
.h4 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 0.875em;
}

h5,
.h5 {
    font-size: 1.111125em;
    font-weight: 400;
    margin: 0 0 1.1812352346em;
}

h5 {
    color: palevioletred;

}

.field-wrap {
    *zoom: 1;
}

.field-wrap:before,
.field-wrap:after {
    content: " ";
    display: table;
}

.field-wrap:after {
    clear: both;
}

.cart-items-body,
.checkout-items-body {
    padding: 0;
    list-style: none;
}

.alert,
.login,
.login-alt,
.checkout-step,
.shipped-info,
.paid-info,
.l-box {
    border: 1px solid #babab9;
    box-shadow: 3px 3px shade(#babab9, 40%);
    margin-bottom: 1.5em;
    padding: 1.5em 1.5em 0.75em;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font: 400 16px/1.5 "Source Sans Pro", sans-serif;
}

.pure-g [class*="pure-u"] {
    font-family: "Source Sans Pro";
}

body {
    color: #000;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
}

.wrap {
    margin: 0 auto;
    max-width: 1140px;
    width: 80%;
}

[class*="push-"],
[class*="pull-"] {
    position: relative;
}

.pull-u-1-3 {
    left: -33.3333%;
}

.push-u-2-3 {
    left: 66.6667%;
}

@media only screen and (max-width: 767px) {

    .pull-u-1-3,
    .push-u-2-3 {
        left: auto;
    }
}

.is-centered {
    text-align: center;
}

.is-hidden {
    visibility: hidden;
    max-height: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}

/*  Forms
    ================================================ */
fieldset {
    border: none;
    margin-bottom: 0.75em;
    padding: 0;
}

legend {
    padding: 0;
}

input,
select,
textarea {
    border: 2px solid #babab9;
    border-radius: 0;
    box-sizing: border-box;
    box-shadow: none;
    color: tint(#121212, 32%);
    display: inline-block;
    font-family: inherit;
    margin: 0 0 0.75em;
    width: 100%;
    transition: border 0.4s, color 0.6s;
}

input:focus,
select:focus,
textarea:focus {
    color: tint(#121212, 5%);
    outline: none;
    border-color: #121212 !important;
}

@media (min-width: 35.5em) {

    .inline-field input,
    .inline-field select,
    .inline-field textarea {
        width: auto;
    }
}

select,
textarea,
[type="tel"],
[type="url"],
[type="number"],
[type="month"],
[type="text"],
[type="email"],
[type="password"] {
    height: 2.4375em;
    padding: 0.4rem 0.5rem;
}

label {
    color: #babab9;
    display: block;
    font-size: 0.74em;
    font-weight: 600;
    transition: color 0.6s;
    text-transform: uppercase;
}

label.on {
    color: #121212;
}

textarea {
    height: auto;
}

.input-radio label,
.input-checkbox label {
    color: tint(#121212, 5%);
    display: inline-block;
    max-width: 80%;
}

.input-radio input[type="radio"],
.input-checkbox input[type="checkbox"] {
    float: left;
    height: 1.2em;
    width: 1.2em;
    margin: 0.25em 1em 0.75em 0;
}

.field-wrap.error label {
    color: #ff0015;
}

.field-wrap.error input {
    border-color: #ff0015;
}

.checkout-step.error {
    -webkit-animation: shake 0.2s 2 cubic-bezier(0.86, 0, 0.07, 1);
    animation: shake 0.2s 2 cubic-bezier(0.86, 0, 0.07, 1);
}

/*  Animations
    ================================================ */
@-webkit-keyframes pulse {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-webkit-keyframes shrink {
    to {
        height: 0;
    }
}

@keyframes shrink {
    to {
        height: 0;
    }
}

@-webkit-keyframes collapse {
    from {
        max-height: 30em;
    }

    to {
        max-height: 0;
        padding: 0;
    }
}

@keyframes collapse {
    from {
        max-height: 30em;
    }

    to {
        max-height: 0;
        padding: 0;
    }
}

@-webkit-keyframes flyUp {
    from {
        -webkit-transform: translateY(6em);
        transform: translateY(6em);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes flyUp {
    from {
        -webkit-transform: translateY(6em);
        transform: translateY(6em);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeToGray {
    to {
        background-color: #babab9;
    }
}

@keyframes fadeToGray {
    to {
        background-color: #babab9;
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    33.33% {
        -webkit-transform: translate(1em, -1em);
        transform: translate(1em, -1em);
    }

    66.66% {
        -webkit-transform: translate(-1em, 1em);
        transform: translate(-1em, 1em);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    33.33% {
        -webkit-transform: translate(1em, -1em);
        transform: translate(1em, -1em);
    }

    66.66% {
        -webkit-transform: translate(-1em, 1em);
        transform: translate(-1em, 1em);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.fadeOut {
    -webkit-animation: fadeOut 0.3s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: fadeOut 0.3s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.pulse {
    -webkit-animation: pulse 0.3s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: pulse 0.3s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.is-removed {
    -webkit-animation: flyUp 0.4s cubic-bezier(0.86, 0, 0.07, 1) forwards reverse, fadeOut 0.3s ease forwards;
    animation: flyUp 0.4s cubic-bezier(0.86, 0, 0.07, 1) forwards reverse, fadeOut 0.3s ease forwards;
}

.is-added {
    animation: flyUp 0.4s cubic-bezier(0.86, 0, 0.07, 1) forwards, fadeOut 0.3s ease forwards reverse;
}

/*  Tables
    ================================================ */

p,
ul,
ol,
dl,
table {
    margin: 0 0 1.3125em;
    color: black;
}

.hr-text {
    display: table;
    font-weight: 600;
    margin: 0.75em auto 1.5em;
    position: relative;
    text-transform: uppercase;
}

.hr-text:before,
.hr-text:after {
    content: "\25C8";
}

.hr-text:before {
    margin-right: 0.75em;
}

.hr-text:after {
    margin-left: 0.75em;
}

/*  Alerts
    ================================================ */
.alert {
    margin: 1.5em;
    padding: 0.75em;
    text-align: center;
}

.alert-default {
    background-color: #f6f5f4;
    border-color: #babab9;
}

.alert-warning {
    background-color: palevioletred, 60%);
    border-color: #ffab00;
}

.decay-progress {
    background-color: #babab9;
    border-radius: 100%;
    height: 1em;
    width: 1em;
    overflow: hidden;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
}

.decay-progress:after {
    -webkit-animation: fadeOut 0.4s ease-in forwards reverse, shrink 7s 0.4s linear forwards;
    animation: fadeOut 0.4s ease-in forwards reverse, shrink 7s 0.4s linear forwards;
    background-color: palevioletred;
    content: " ";
    height: 1em;
    width: 1em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/*  Buttons
    ================================================ */
.btn {
    -webkit-appearance: none;
    background-image: linear-gradient(rgba(255, 255, 255, 0.24), transparent);
    cursor: pointer;
    border: 1px solid;
    display: inline-block;
    font: 300 0.74em/1.6 "Source Sans Pro", sans-serif;
    letter-spacing: 1px;
    margin: 0 0 1.5em;
    padding: 0.8em 1.5em 0.7em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(18, 18, 18, 0.4);
    transition: all 0.4s ease;
    vertical-align: top;
    width: 100%;
}

.btn:hover,
.btn:focus {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.4);
    outline: none;
}

.btn:active {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.8);
}

@media (min-width: 35.5em) {
    .btn {
        width: auto;
    }
}

.btn-primary {
    background-color: palevioletred;
    border: 1px solid palevioletred;
    color: #fff;
}

.btn-primary:active {
    background-color: palevioletred, 72%);
}

.btn-secondary {
    background-color: palevioletred;
    border-color: palevioletred, 8%);
    color: #fff;
}

.btn-secondary:active {
    background-color: shade(#babab9, 32%);
    border-color: shade(#babab9, 32%);
}

.btn-deals {
    background-color: palevioletred;
    border-color: palevioletred;
    color: #fff;
}

.btn-deals:active {
    background-color: palevioletred, 32%);
    border-color: shade(#5600ff, 32%);
}

.btn-facebook {
    background-color: palevioletred;
    border-color: palevioletred;
    color: #fff;
}

.btn-tertiary {
    background-color: palevioletred;
    border-color: palevioletred;
    color: #fff;
}

.btn-alert {
    background-color: #ff0015;
    border-color: #ff0015;
    color: #fff;
}

.btn-success {
    background-color: palevioletred;
    border-color: #00cc66;
    color: #fff;
}

/*  Tooltip
    ================================================ */
.tooltip-trigger {
    color: #121212;
    cursor: pointer;
    font-size: initial;
    position: relative;
    padding: 0 0.75em;
    vertical-align: super;
}

.tooltip-trigger:hover .tooltip {
    opacity: 1;
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
    visibility: visible;
}

.tooltip {
    background-color: palevioletred;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    display: block;
    font-weight: 400;
    margin-left: -9em;
    padding: 1.5em;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s linear, -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: opacity 0.3s linear, transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: opacity 0.3s linear, transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    visibility: hidden;
    width: 18em;
    z-index: 2;
}

.tooltip:after {
    border: 10px solid transparent;
    border-top-color: #121212;
    content: " ";
    margin-left: -10px;
    top: 98%;
    position: absolute;
    left: 50%;
    z-index: 1;
}

/*  ================================================
    Cart
    ================================================ */
.cart-items-header dd,
.cart-item dd {
    margin: 0;
}

.cart-title-desc,
.cart-item-price,
.cart-item-qty,
.cart-item-subtotal {
    padding: 0 1.5rem;
}

.cart-items-header {
    border-top: 3px double #babab9;
    border-bottom: 3px double #babab9;
    display: none;
    font-size: 0.74em;
    padding: 1.5em 0;
    text-transform: uppercase;
}

@media (min-width: 48em) {
    .cart-items-header {
        display: block;
    }
}

.cart-secure-badge {
    padding: 0.75em 0;
}

@media (min-width: 48em) {
    .cart-secure-badge {
        margin-top: 0.75em;
        padding: 0.75em;
        text-align: center;
    }
}

.cart-items-body>li {
    background-color: #fff;
    border-bottom: 1px solid #babab9;
    padding: 0.75em 0 0.5em;
}

.cart-title-img {
    display: none;
}

@media (min-width: 48em) {
    .cart-title-img {
        display: block;
    }
}

.cart-title-desc {
    margin-bottom: 1.5em;
}

.cart-item-qty label {
    line-height: 2.5;
}

.cart-total {
    text-align: right;
}

.cart-controls .btn-primary {
    float: right;
}

/*  ================================================
    Login
    ================================================ */
.login,
.login-alt {
    margin-left: 15%;
    margin-right: 15%;
}

.login .btn,
.login-alt .btn {
    width: 100%;
}

/*  ================================================
    $Checkout
    ================================================ */
.progress {
    margin-bottom: 1.5em;
}

.progress-step {
    color: #babab9;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
}

.progress-step a {
    color: inherit;
    cursor: default;
    border: none;
    text-decoration: none;
    transition: color 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.progress-step:before,
.progress-step:after {
    content: "";
    display: block;
    height: 4px;
}

.progress-step:after {
    background-color: palevioletred;
    width: 100%;
}

.progress-step:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width 0.4s ease 0.3s;
}

.progress-step.is-active {
    color: palevioletred;
}

.progress-step.is-active a {
    color: black;
    cursor: pointer;
}

.progress-step.is-active:before {
    background-color: palevioletred;
    width: 100%;
}

[class*="checkout-step"] {
    margin-bottom: 3em;
    margin-left: 33%;
    
}

@media (min-width: 48em) {
    .checkout-items {
    margin-left: -47em;
    
}

.checkout-item dd {
    margin: 0;
}

.checkout-step .btn-primary {
    float: right;
}

.checkout-item+.checkout-item {
    border-top: 1px dashed #babab9;
    margin-top: 0.75em;
    padding-top: 0.75em;
}

.checkout-item dl {
    margin-bottom: 0;
}

.checkout-total {
    border-top: 3px double #babab9;
    margin-top: 0.75em;
    padding: 0.75em 0;
}

/*  Payment
    ================================================ */
.cc-code {
    float: left;
    width: 70%;
}



/*  ================================================
    Receipt
    ================================================ */
.shipped-info ul,
.paid-info ul {
    list-style: none;
    padding: 0;
}

@media (min-width: 35.5em) {
    .shipped-info {
        margin-right: 5%;
    }
}

@media (min-width: 35.5em) {
    .paid-info {
        margin-left: 5%;
    }
}

/* Receipt Related Posts */
.receipt-rp {
    margin: 0 1% 2em;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.receipt-rp:hover .receipt-rp-header {
    background-color: palevioletred;
}

.receipt-rp img {
    display: block;
}

.receipt-rp-header {
    background-image: linear-gradient(transparent, rgba(18, 18, 18, 0.8));
    color: #fff;
    padding: 10em 1em 0.5em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background 0.4s ease;
}

.receipt-rp-header h5 {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*  ================================================
    Warning
    ================================================ */
.warning {
    background-image: url("images/shopify.png");
    margin-bottom: 1rem;
    padding: 2rem;
}
