.wrap {
 margin: 0 auto;
 max-width: 1140px;
 width: 80%;
}

h1,
.h1 {
    font-size: em(40);
    font-weight: 200;
    margin: 0 0 em(21, 40);
}

h2,
.h2 {
    font-size: em(36);
    font-weight: 200;
    margin: 0 0 em(21, 36);
}

h3,
.h3 {
    font-size: em(26.667);
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0 0 em(21, 26.667);
    text-transform: uppercase;
}

h4,
.h4 {
    font-size: em(24);
    font-weight: 300;
    margin: 0 0 em(21, 24);
}

h5,
.h5 {
    font-size: em(17.778);
    font-weight: 400;
    margin: 0 0 em(21, 17.778);
}

p,
ul,
ol,
dl,
table {
    margin: 0 0 em(21);
}

.hr-text {
    display: table;
    font-weight: 600;
    margin: $half-space auto $space;
    position: relative;
    text-transform: uppercase;
}

.btn-primary {
    background-color: $brand;
    border: 1px solid $black;
    color: #fff;

    &:active {
        background-color: shade($brand, 72%);
    }
}

.btn-secondary {
    background-color: $dark-gray;
    border-color: shade($dark-gray, 8%);
    color: #fff;

    &:active {
        background-color: shade($dark-gray, 32%);
        border-color: shade($dark-gray, 32%);
    }
}

.btn-deals {
    background-color: $deals;
    border-color: $deals;
    color: #fff;

    &:active {
        background-color: shade($deals, 32%);
        border-color: shade($deals, 32%);
    }
}

.btn-facebook {
    background-color: $facebook;
    border-color: $facebook;
    color: #fff;
}

.btn-tertiary {
    background-color: $blue;
    border-color: $blue;
    color: #fff;
}

.btn-alert {
    background-color: $alert;
    border-color: $alert;
    color: #fff;
}

.btn-success {
    background-color: $success;
    border-color: $success;
    color: #fff;
}

/*  $Tooltip
    ================================================ */
.tooltip-trigger {
    color: $black;
    cursor: pointer;
    font-size: initial;
    position: relative;
    padding: 0 $half-space;
    vertical-align: super;

    &:hover .tooltip {
        opacity: 1;
        transform: translateY(-110%);
        visibility: visible;
    }
}

.tooltip {
    background-color: $black;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    display: block;
    font-weight: 400;
    margin-left: -9em;
    padding: $space;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s linear, transform 0.3s $easeInOutQuint;
    visibility: hidden;
    width: 18em;
    z-index: 2;

    &:after {
        border: 10px solid transparent;
        border-top-color: $black;
        content: " ";
        margin-left: -10px;
        top: 98%;
        position: absolute;
        left: 50%;
        z-index: 1;
    }
}